*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.area1{
    width: 800px;
    height: 900px;
    overflow: hidden;
    margin: 2rem;
    box-shadow: 3px,3px,40px solid maroon;
    border-radius: 40px;
    background-color: darkgray;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

.newtable table{
    margin: 2rem;
    padding: 2rem;
    width: 90%;
    
    background-color: azure;
    
}
.newtable th{
    
    width: 200px ;
    text-align: center;
}

.newtable td{
    
    width: 200px;

    /* padding: 1rem; */
    /* align-items: center; */
    /* text-align: center; */
}
